@if (video$ | async; as video) {
  <vf-vjs-player
    [options]="{
      autoplay: true,
      sources: [
        {
          src: video.video_file_resolutions._1080p,
          type: 'application/x-mpegURL'
        }
      ],
      fill: true,
      customControls: true
    }"
    [resolutionSources]="{
      sources: [
        {
          src: video.video_file_resolutions._360p,
          type: 'application/x-mpegURL',
          label: '360p'
        },
        {
          src: video.video_file_resolutions._720p,
          type: 'application/x-mpegURL',
          label: '720p'
        },
        {
          src: video.video_file_resolutions._1080p,
          type: 'application/x-mpegURL',
          label: '1080p'
        }
      ]
    }"
    [titleBar]="{
      title: video.title
    }"
  ></vf-vjs-player>
}
