@if (video$ | async; as video) {
  <!-- <video [src]="video.video_file_resolutions._1080p" controls></video> -->
  <vf-vjs-player
    [options]="{
      autoplay: true,
      sources: [
        { src: video.video_file_resolutions._1080p, type: 'video/mp4' }
      ],
      fill: true,
      customControls: true
    }"
    [resolutionSources]="{
      sources: [
        {
          src: video.video_file_resolutions._360p,
          type: 'video/mp4',
          label: '360p'
        },
        {
          src: video.video_file_resolutions._720p,
          type: 'video/mp4',
          label: '720p'
        },
        {
          src: video.video_file_resolutions._1080p,
          type: 'video/mp4',
          label: '1080p'
        }
      ]
    }"
  ></vf-vjs-player>
}
