<div class="header">
  <img class="logo" src="logo.svg" alt="Videoflix Logo" />
</div>
<div class="form-modal">
  <h2>Reset password</h2>
  <p>Create a new password for your Videoflix account.</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <div class="input-field">
        <input
          formControlName="password"
          type="password"
          id="password"
          placeholder="Enter a password"
          autocomplete="new-password"
        />
        <label for="password">Password</label>
      </div>
      <vf-form-errors
        controlName="password"
        [messages]="{ required: 'Your password is required' }"
      ></vf-form-errors>
    </div>
    <div class="input-container">
      <div class="input-field">
        <input
          formControlName="password_confirm"
          type="password"
          id="password_confirm"
          placeholder="Confirm password"
          autocomplete="new-password"
        />
        <label for="password_confirm">Confirm password</label>
      </div>
      <vf-form-errors
        controlName="password_confirm"
        [messages]="{
          required: 'Your password is required',
          mismatch: 'Passwords must match'
        }"
      ></vf-form-errors>
    </div>
    <button type="submit">Reset my password</button>
  </form>
</div>
<vf-footer class="footer-form-pages"></vf-footer>
