:host {
  display: flex;
  flex-direction: column;
  background-color: gray;
  height: calc(100% - 100px);
  background-image: url("../../../public/shared-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .form-modal {
    height: 400px;
  }
}
