<div class="header">
  <img class="logo" src="logo.svg" alt="Videoflix Logo" />
</div>
<div class="form-modal">
  <h2>Reset password</h2>
  <p>Create a new password for your Videoflix account.</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <label for="password"></label>
      <input
        formControlName="password"
        type="password"
        id="password"
        placeholder="Enter a password"
      />
      <vf-form-errors
        controlName="password"
        [messages]="{ required: 'Your password is required' }"
      ></vf-form-errors>
    </div>
    <div class="input-container">
      <label for="password_confirm"></label>
      <input
        formControlName="password_confirm"
        type="password"
        id="password_confirm"
        placeholder="Confirm password"
      />
      <vf-form-errors
        controlName="password_confirm"
        [messages]="{
          required: 'Your password is required',
          mismatch: 'Passwords must match'
        }"
      ></vf-form-errors>
    </div>
    <button type="submit">Reset my password</button>
  </form>
</div>
