:host {
  // height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 41px 0;
}

a {
  color: rgb(180, 180, 180);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
