<!-- eslint-disable @angular-eslint/template/mouse-events-have-key-events -->
<h4>New on Videoflix</h4>
@if (videos(); as videos) {
  <div class="swiper-container">
    <div #swiper class="swiper">
      <div class="swiper-wrapper">
        @for (video of videos; track video.id) {
          <div
            #video
            class="swiper-slide card swiper-no-swiping"
            [id]="video.id"
            (mouseover)="showPreviewModal(video.id)"
            (mouseout)="clearTime()"
          >
            <img [src]="video.thumbnail_file | videoUrl" alt="" />
          </div>
        }
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    @if (showPreviewOnHover()) {
      @if (video$ | async; as video) {
        <div
          class="preview-modal-container"
          @onHover
          (mouseleave)="showPreviewOnHover.set(false)"
          (@onHover.start)="onAnimationEvent($event)"
          (@onHover.done)="onAnimationEvent($event)"
        >
          <div class="preview-modal-content">
            @if (showPreviewVideoAfterAnimation) {
              <video
                class="preview-video"
                [src]="video.video_file_resolutions._1080p | videoUrl"
                autoplay
                [muted]="'muted'"
              ></video>
            } @else {
              <img
                [src]="video.thumbnail_file | videoUrl"
                alt=""
                class="preview-thumbnail"
              />
            }
          </div>
          <div class="preview-modal-info-container" @onHoverChild>
            <div class="preview-modal-buttons-left-container">
              <a
                class="preview-modal-buttons"
                [routerLink]="['/watch', video.id]"
              >
                <img src="play-24.png" alt="Play Icon" />
              </a>
              <button class="preview-modal-buttons">List</button>
              <button class="preview-modal-buttons">Like</button>
            </div>
            <button class="preview-modal-buttons">Info</button>
          </div>
        </div>
      }
    }
  </div>
}
