<h4>New on Videoflix</h4>
<!-- <div class="carousel-container">
  <div class="slider">
  @for (item of [1,2,3,4,5,6,7,8,9,10]; track $index) {
    <div class="card">
      <div>{{ item }}</div>
    </div>
  }
  </div>
</div> -->

<div #swiper class="swiper">
<!-- <h4>New on Videoflix</h4> -->

  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <!-- <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div> -->
    @for (item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]; track $index) {
      <div class="swiper-slide card swiper-no-swiping">
        <div>{{ item }}</div>
      </div>
    }
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>