:host {
  position: relative;
}

.user-dropdown-btn {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.profile-icon {
  height: 32px;
  width: 32px;
  border-radius: 5px;
}

.dropdown {
  width: max-content;
  background-color: rgba($color: #141414, $alpha: 0.85);
  position: absolute;
  right: 0;
  top: 50px;
  border: rgba($color: grey, $alpha: 0.5) 1px solid;

  &::before {
    content: url(../../../public/arrow-216-16.png);
    position: absolute;
    top: -18px;
    right: 27px;
    transform: rotate(180deg);
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: unset;
    gap: 10px;
    padding: 0 12px;
    margin-block-start: unset;
    margin-block-end: unset;

    &:first-child {
      padding-top: 15px;
    }

    &:nth-child(2) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &:last-child {
      padding: 10px 0;
      border-top: rgba($color: grey, $alpha: 0.5) 1px solid;

      a {
        justify-content: center;
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 10px;
    cursor: pointer;
    font-size: 13px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.sub-menu-icon {
  padding: 0 4px;
}