<h1>Videoflix</h1>
<div class="login-registration-modal">
  <h2>Sign in</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <label for="email"></label>
      <input formControlName="email" id="email" placeholder="Email address" />
      <vf-form-errors
        controlName="email"
        [messages]="{
          required: 'Your email is required',
          invalidemail: 'Please enter a valid email'
        }"
      ></vf-form-errors>
    </div>
    <div class="input-container">
      <label for="password"></label>
      <input
        formControlName="password"
        type="password"
        id="password"
        placeholder="Password"
      />
      <vf-form-errors
        controlName="password"
        [messages]="{ required: 'Your password is required' }"
      ></vf-form-errors>
    </div>
    <button type="submit">Log in</button>
    <a href="" class="align-self-center">Forgot password?</a>
    <div>
      <input type="checkbox" name="saveLogin" id="" />
      Remember me
    </div>
  </form>
  <div>New to Vidoeflix? <a routerLink="../signup">Sign up now</a></div>
</div>
