:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.my-list-container {
  display: flex;
  flex-direction: column;

  &:first-of-type {
    margin-top: 160px;
  }
}
