@if (video$ | async; as video) {
  <video
    class="show-video-and-thumbnail"
    [src]="video.video_file_resolutions._1080p"
    autoplay
    [muted]="'muted'"
  ></video>
  <!-- <img
    class="show-video-and-thumbnail"
    [src]="video.thumbnail_file | videoUrl"
    alt=""
  /> -->
  <div class="video-info-container">
    <h3>{{ video.title }}</h3>
    <p>
      {{ video.description }}
    </p>
    <div class="button-container">
      <a class="play-info-button" [routerLink]="['/watch', video.id]">
        <img src="play-24.png" alt="Play Icon" />
        Play
      </a>
      <button class="play-info-button">
        <img src="info-2-24.png" alt="More Info Icon" />
        More Info
      </button>
    </div>
  </div>
}
