@if (video$ | async; as video) {
  <vf-vjs-player
    class="show-video-and-thumbnail"
    [options]="{
      autoplay: true,
      sources: [
        { src: video.video_file_resolutions._1080p, type: 'video/mp4' }
      ],
      fill: true
    }"
  ></vf-vjs-player>
  <div class="video-info-container">
    <h3>{{ video.title }}</h3>
    <p>
      {{ video.description }}
    </p>
    <div class="button-container">
      <a class="play-info-button" [routerLink]="['/watch', video.id]">
        <img src="play-24.png" alt="Play Icon" />
        Play
      </a>
      <button class="play-info-button">
        <img src="info-2-24.png" alt="More Info Icon" />
        More Info
      </button>
    </div>
  </div>
}
