<!-- eslint-disable @angular-eslint/template/mouse-events-have-key-events -->
@if (videos(); as videos) {
  <div class="swiper-container" @parent>
    <div #swiper class="swiper">
      <div class="swiper-wrapper">
        @for (video of videos; track video.id) {
          <div
            #video
            [@videoAnimation]="videoHasState(video) ? video.state : 'normal'"
            class="swiper-slide card swiper-no-swiping"
            [id]="video.id"
            (mouseover)="displayPreviewModal(video.id, $index)"
            (mouseout)="clearTime()"
          >
            <img [src]="video.thumbnail_file" alt="" />
          </div>
        }
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    @if (showPreviewOnHover()) {
      @if (video$ | async; as video) {
        <vf-preview-modal
          [video]="video"
          [startXOffset]="startXOffset"
          [startYOffset]="startYOffset"
          [startScaleX]="startScaleX"
          [startScaleY]="startScaleY"
          [currentStylesContainer]="currentStylesContainer"
          [currentStylesContent]="currentStylesContent"
          (mouseleave)="showPreviewOnHover.set(false)"
          (videoRemoved)="removeVideo($event)"
          [animationDisabled]="disablePreviewModalAnimation()"
        ></vf-preview-modal>
      }
    }
  </div>
}
