:host {
  display: contents;
}

.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  // left: 50%;
  // min-width: 500px;
  background-color: whitesmoke;
  color: #141414;
  padding: 15px 30px;
  border-radius: 30px;
  // transform: translateX(-50%);
  z-index: 99;
  box-sizing: border-box;
  font-size: 16px;
}

// .toast.success {
//   background-color: #28a745;
// }

// .toast.error {
//   background-color: #dc3545;
// }

// .toast.info {
//   background-color: #17a2b8;
// }

// .toast.warning {
//   background-color: #ffc107;
// }

.toast button {
  background: none;
  border: none;
  color: #141414;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}
