<div class="header">
  <img class="logo" src="logo.svg" alt="Videoflix Logo" />
  <button class="back-button" (click)="backClicked()">
    <img src="arrow-121-32.png" alt="Back Arrow" />
  </button>
</div>
<div>
  <h1>Impressum</h1>

  <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
  <p>
    Max Mustermann<br />
    Mustermannstra&szlig;e 9<br />
    12343 Muster
  </p>

  <h2>Kontakt</h2>
  <p>
    Telefon: 0123 456789<br />
    E-Mail: mail&#64;mustermann-max.de
  </p>

  <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
</div>
<vf-footer></vf-footer>
