<div class="header">
  <img class="logo" src="logo.svg" alt="Videoflix Logo" />
</div>
<div class="form-modal">
  <h2>Sign up</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <div class="input-field">
        <input
          formControlName="username"
          id="username"
          placeholder="Username"
        />
        <label for="username">Username</label>
      </div>
      <vf-form-errors
        controlName="username"
        [messages]="{ required: 'Your username is required' }"
      ></vf-form-errors>
    </div>
    <div class="input-container">
      <div class="input-field">
        <input formControlName="email" id="email" placeholder="Email address" />
        <label for="email">Email</label>
      </div>
      <vf-form-errors
        controlName="email"
        [messages]="{
          required: 'Your email is required',
          invalidemail: 'Please enter a valid email'
        }"
      ></vf-form-errors>
    </div>
    <div class="input-container">
      <div class="input-field">
        <input
          formControlName="password"
          type="password"
          id="password"
          placeholder="Password"
        />
        <label for="password">Password</label>
      </div>
      <vf-form-errors
        controlName="password"
        [messages]="{ required: 'Your password is required' }"
      ></vf-form-errors>
    </div>
    <button type="submit">Sign up</button>
  </form>
  <div>Already have an account? <a routerLink="/">Sign in now</a></div>
</div>
