:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  background-color: rgba($color: #000000, $alpha: 0.6);
  background-image: url("../../../public/landing-page-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color;
}

.header ~ div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: fit-content;
  gap: 24px;
  min-height: 230px;

  h1 {
    font-size: 48px;
    margin: 0;
  }

  p {
    font-size: 18px;
    margin: 0;
  }

  form {
    flex-direction: row;
    width: 80%;
    gap: 10px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 5px;
      width: 40%;
      height: 55px;
      gap: 10px;
      background: rgba($color: red, $alpha: 1);
      color: white;
      font-size: 18px;
      cursor: pointer;
      transition: all 225ms ease-in-out;

      &:hover {
        opacity: 0.8;
        transition: all 225ms ease-in-out;
      }

      &:disabled {
        opacity: 0.1;
        cursor: unset;
      }
    }
  }
}
